<div class="container text-center text-muted bg-light pt-5 pb-3">
  <div class="column">
      <img
        class="h-auto mx-auto mw-auto bg-light rounded-3"
        width="200"
        src="assets/cvfoto.png"
        alt=""
      />
      <div class="pt-3">
        <i class="bi bi-chat-square-quote"></i>
        <p class="h3"><strong>HOLA</strong></p>
      </div>
      <h1 class="pt-2">Soy <strong>Rodrigo Barrera</strong></h1>
      <p class="lead pt-2 pb-3">Desarrollador Web Full Stack Jr</p>
      <div class="container pt-3 bg-secondary rounded-3">
  <div class="row justify-content-center">
    <div class="col col-sm-2 lead text-md-start text-white">
      <strong>Edad</strong>
    </div>
    <div class="col-sm-2 lead text-md-start text-light">
      29
    </div>
    <div class="w-100 p-2"></div>
     <div class="col-sm-2 lead text-md-start text-white">
      <strong>Dirección</strong>
    </div>
    <div class="col-sm-2 lead text-md-start text-light">
      Cordoba, Capital
    </div>
 <div class="w-100 p-2"></div>
     <div class="col-sm-2 lead text-md-start text-white">
      <strong>E-mail</strong>
    </div>
    <div class="col-sm-2 lead text-md-start text-light">
      rbarrera028@gmail.com
    </div>
 <div class="w-100 p-2"></div>
     <div class="col-sm-2 lead text-md-start text-white">
      <strong>Telefono</strong>
    </div>
    <div class="col-sm-2 lead text-md-start pb-3 text-light">
      351-3200517
    </div>
    <div class="container bg-dark rounded-bottom btn-links">
      <div class="row justify-content-center text-light">
        <div class="col-auto">
          <i class="bi bi-linkedin"></i>
        </div>
        <div class="col-auto">
          <i class="bi bi-github"></i>
        </div>
        <div class="col-auto">
          <i class="bi bi-envelope-fill"></i>
        </div>
      </div>
    </div>

  </div>
      </div>
  </div>
</div>
