<div class="container shadow text-center bg-light pt-3">
  <div class="row">
    <div class="col col-sm-6">
      <img
        class="h-auto mw-auto bg-secondary"
        width="300"
        src="assets/cvfoto.png"
        alt=""
      />
    </div>
    <div class="col pt-3">
      <p class="d-inline-flex p-2 border rounded-1 text-white bg-primary">
        Hola
      </p>
      <p>Soy Rodrigo Barrera</p>
      <p>Desarrollador Web Full Stack Jr</p>
      <hr />
      <div class="row text-start">
        <div class="col-4 pb-2">EDAD</div>
        <div class="col-auto">29</div>
        <div class="w-100"></div>
        <div class="col-4 pb-2">DIRECCION</div>
        <div class="col-auto">Cordoba, Capital</div>
        <div class="w-100"></div>
        <div class="col-4 pb-2">E-MAIL</div>
        <div class="col-auto">rbarrera028@gmail.com</div>
        <div class="w-100"></div>
        <div class="col-4 pb-2">TELEFONO</div>
        <div class="col-auto">3513200517</div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center bg-primary text-light p-4 mt-3">
    <!-- <div class="col-auto">Facebook</div> -->
    <div class="col-auto">GitHub</div>
    <div class="col-auto">Linkedin</div>
  </div>
</div>
